/*
 * HelpMaker PDF styles
 */

/*------------------------------------------------------ TOC */

tr {
	page-break-inside: avoid;
}

body, * {
	overflow-x: visible !important;
	overflow-y: visible !important;
}

a,
a:hover,
a:visited {
	color: #000080;
    text-decoration: none;
}

.hm-toc-title,
.hm-toc-contents {
	font-size: 140%;
}

.hm-toc-contents {
	margin-left: -10px;
}

.hm-toc ul {
	padding-left: 10px;
}

.hm-toc li {
	display: block;
	line-height: 2.5em;
	padding-left: 1em;
}
