/*
 * HelpMaker base styles
 */

/*------------------------------------------------------ Default styles */

body {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}

.hm-contents {
	background-color: transparent;
	margin: 0;
	padding: 15px;
}

.hm-body,
.hm-preview {
	line-height: 1.6em;
}

p {
	margin: 0 15px 10px 15px;
}

u {
	text-decoration: none;
}

form {
	margin: 0;
}

img {
	border: 0 none;
	margin: 0;
	height: auto;
	width: auto;
}

/*------------------------------------------------------ Links */

a,
a:visited,
q {
	color: #00F;
	text-decoration: none;
}

a:hover,
q:hover {
	text-decoration: underline;
}

h2 a.hm-linkback,
h2 a:visited.hm-linkback {
	text-decoration: none;
}

/*------------------------------------------------------ Titles */

/* All titles */

h2,
h3,
h4 {
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}

/* Page title */

h2 {
	font-size: 1.5em;
	padding: 0 0 15px 0;
	margin: 25px 15px 0 0;
	white-space: normal;
}

/* Title */

h3 {
	font-size: 1.17em;
}

/* Subtitle */

h4 {
	font-size: 1em;
}

/* Title images */

h2 img,
h3 img,
h4 img {
	margin: 0.5em;
	vertical-align: middle;
}

/*------------------------------------------------------ Footer */

/* See Also section */

.hm-seealso {
	font-size: 1em;
    margin: 0 15px;
    padding: 15px 0;
}

.hm-seealso div {
	font-weight: bold;
	margin-bottom: 15px;
}

.hm-seealso a {
	line-height: initial;
}

.hm-seealso p {
	line-height: .8em;
}

/* Copyright and version */

div.footer {
	border-top: 1px solid #ddd;
	font-size: 0.85em;
	margin: 0 25px 0 15px;
    padding-top: 15px;
	padding-bottom: 25px;
}

/*------------------------------------------------------ Lists */

.hm-content ul,
.hm-content ol {
	font-size: 1.0em;
	line-height: 1.7em;
}

/*------------------------------------------------------ Tables */

table {
	border: 0 none;
	font-size: 0.9em;
	empty-cells: show;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
}

th,
td {
	padding: 3px;
	text-align: center;
	border: 1px solid #aaa;
}

th {
	background-color: #ddd;
}

td {
	background-color: #eee;
}

/*------------------------------------------------------ Custom paragraph styles */

.box,
.stripe {
	margin: 15px 0;
}

/* Box styles */

.box {
	font-size: 0.85em;
	background-color: #eee;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.box-image {
	background-image: url("boxes.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 22px;
	height: 22px;
}

.note .box-image {
	background-position: 0 0;
}

.tip .box-image {
	background-position: 0 -22px;
}

.warning .box-image {
	background-position: 0 -44px;
}

.danger .box-image {
	background-position: 0 -66px;
}

/* Stripe styles */

.stripe {
	font-size: 0.75em;
	background-color: #f4f4f4;
	padding: 5px 10px;
	border: 0 none;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.stripe-image {
	background-image: url("stripes.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 22px;
	height: 22px;
}

.menupath .stripe-image {
	background-position: 0 0;
}

.shortcut .stripe-image {
	background-position: 0 -22px;
}

/* Code */

.code {
	margin: 25px 0 25px 10px;
	padding-left: 30px;
	color: #242;
	font-family: Consolas, "Lucida Console", "Courier New", Courier, Monospaced;
	font-size: 1em;
}

/*------------------------------------------------------ Custom character styles */

.highlight {
	background-color: #ff8;
	padding-top: 2px;
	padding-bottom: 2px;
}
