/*
 * HelpMaker HTML preview
 */

/*------------------------------------------------------ Main container */

html {
	overflow: hidden;
}

body {
	padding: 0;
	margin: 10px;
	color: #000;
	background-color: #fff;
}

body,
p,
input {
	font-family: Arial, Helvetica, sans-serif;
}

.hm-contents {
	margin: 0;
	padding: 0;
}

h2,
h5,
div.footer,
small {
	display: none;
}

/*------------------------------------------------------ Common styles */

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-left: 15px;
	margin-right: 15px;
}

u {
	text-decoration: none;
}

img {
	border: 0 none;
	margin: 0;
	height: auto;
	width: auto;
	vertical-align: middle;
}

/*------------------------------------------------------ Links */

a,
a:visited,
q {
	color: #2040f0;
}

a,
q {
	text-decoration: none;
}

a:hover,
q:hover {
	text-decoration: underline;
}

/*------------------------------------------------------ Titles */

/* Title */

h3 {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.7em;
	color: #000;
	border-bottom: 1px solid #ddd;
}

/* Subtitle */

h4 {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.7em;
	color: #880;
}

/* Title images */

h2 img,
h3 img,
h4 img {
	margin: 0.5em;
	vertical-align: middle;
}

/*------------------------------------------------------ Lists */

.hm-content ul,
.hm-content ol {
	font-size: 1.0em;
	line-height: 1.7em;
	margin-left: 3.2em;
}

/*------------------------------------------------------ Tables */

table {
	border: 0 none;
	font-size: 0.9em;
	empty-cells: show;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th,
td {
	border: 1px solid #a0a0a0;
	padding: 3px 3px;
	text-align: center;
}

th {
	background-color: #f0f0e0;
}

td {
	background-color: #f8f8f8;
}

/*------------------------------------------------------ Custom paragraph styles */

/* Box styles */

.box {
	font-size: 0.85em;
	margin: 10px;
	padding: 1em 1em 1em 10px;
	border: 3px solid #000;
}

.box-image {
	background-image: url("boxes.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 22px;
	height: 22px;
}

.note {
	background-color: #dee;
	border-color: #acc;
}

.tip {
	background-color: #ffc;
	border-color: #bb8;
}

.warning {
	font-weight: bold;
	background-color: #feb;
	border-color: #da6;
}

.danger {
	font-weight: bold;
	background-color: #fdd;
	border-color: #d77;
}

.note .box-image {
	background-position: 0 0;
}

.tip .box-image {
	background-position: 0 -22px;
}

.warning .box-image {
	background-position: 0 -44px;
}

.danger .box-image {
	background-position: 0 -66px;
}

/* Stripe styles */

.stripe {
	font-size: 0.85em;
	margin: 5px 10px;
	padding: 0.7em 0.5em 0.7em 10px;
	border: 0 none;
}

.stripe-image {
	background-image: url("stripes.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 22px;
	height: 22px;
}

.menupath,
.shortcut {
	background-color: #eee;
}

.menupath .stripe-image {
	background-position: 0 -22px;
}

.shortcut .stripe-image {
	background-position: 0 0;
}

/* Code */

.code {
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 10px;
	padding-left: 40px;
	font-family: Consolas, "Lucida Console", "Courier New", Courier, Monospaced;
	font-size: 1em;
	color: #070;
}

/*------------------------------------------------------ Custom character styles */

.highlight {
	background-color: #ff8;
	padding-top: 2px;
	padding-bottom: 2px;
}
